<footer class="site-footer h-card">

  <data class="u-url" href="{{ "/" | relative_url }}"></data>
{% if page.layout == "post" %}
  <script src="https://giscus.app/client.js"
	  data-repo="oelnbod/blog-comments"
	  data-repo-id="R_kgDOOaBrXA"
	  data-category="Announcements"
	  data-category-id="DIC_kwDOOaBrXM4CpHvw"
	  data-mapping="title"
	  data-strict="0"
	  data-reactions-enabled="1"
	  data-emit-metadata="0"
	  data-input-position="bottom"
	  data-theme="light"
	  data-lang="en"
	  crossorigin="anonymous"
	  async>
  </script>
  {% endif %}


    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	    <a rel="me" href="https://mastodon.social/@Oelnbod">Mastodon</a>	    

	    {%- endif -%}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
{% if site.matrix_account %}
  <div class="matrix-account">
    <a href="https://matrix.to/#/{{ site.matrix_account | url_encode }}" target="_blank">
      Chat with me on Matrix
    </a>
  </div>
{% endif %}

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
	<p>     "When you try to hurl that word [woke] at my feet as if it were something dirty, something to run away from, something that I should be ashamed of, it won't work [...], becasue I will pick up that label and I will wear it as a badge of honour" - Matt Santos from The West Wing (paraphrased).
</p>
      </div>
    </div>

  </div>

</footer>
