 @font-face {
    font-family: 'ComicMono';
    src: url('/assets/fonts/ComicMono.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'ComicMono';
    src: url('/assets/fonts/ComicMono-Bold.ttf') format('truetype');
    font-weight: bold;
	 
}
body {
    font-family: 'ComicMono', monospace
}
